* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Young Serif', serif;
}

.section-one {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    width: 70%; 
    border-radius: 10px;
}

.section-one__role {
    color: #888;
    font-weight: normal;
}

.container {
    text-align: center;
}

.container-one,
.container-two,
.container-three,
.container-four {
    display: inline-block;
    text-align: center;
    border: 2px solid black;
    box-sizing: content-box;
    vertical-align: top;
    max-width: 200px;
    height: 415px;
}

.section-one__image,
.section-two__image,
.section-three__image,
.section-four__image {
    width: 100%;
    height: 300px;
}

.section-two__desc,
.section-three__desc,
.section-four__desc,
.section-two__desc,
.section-five__desc {
    font-size: small;
    color: #888;
}

.button-one,
.button-two,
.button-three,
.button-four {
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    width: 50%; 
}

.form {
    background-color: black;
    color: white;
    padding: 20px;
    margin: auto; 
    margin-top: 10px;
    text-align: center;
    width: 70%;
    border-radius: 10px;
}
.form-one,.form-two,.form-three{
   text-align: end;
   color: #888;
    font-weight: normal;
}
.text-align{
    margin: auto;
}

.send {
    background-color: yellow;
    color: black;
    width: 170%; 
    font-size: small;
    text-align: center;
}
